body{
	margin: 0;
	padding: 0;
}
header{
		background: url(your_verse_hero.jpg);
		background-repeat: no-repeat;
		background-position: 0em bottom;
		background-size: auto;
		padding: 2em 0 15em;
}
nav{
	width: 80%;
	margin: 0 auto;
}
header nav ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
     background: -moz-linear-gradient(90deg, rgba(128,128,128,0.95) 3%, rgba(128,128,128,0.99) 50%, rgba(107,107,107,0.99) 52%, rgba(107,107,107,1) 79%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(107,107,107,1)), color-stop(48%, rgba(107,107,107,0.99)), color-stop(50%, rgba(128,128,128,0.99)), color-stop(97%, rgba(128,128,128,0.95))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(128,128,128,0.95) 3%, rgba(128,128,128,0.99) 50%, rgba(107,107,107,0.99) 52%, rgba(107,107,107,1) 79%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(128,128,128,0.95) 3%, rgba(128,128,128,0.99) 50%, rgba(107,107,107,0.99) 52%, rgba(107,107,107,1) 79%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(128,128,128,0.95) 3%, rgba(128,128,128,0.99) 50%, rgba(107,107,107,0.99) 52%, rgba(107,107,107,1) 79%); /* ie10+ */
    background: linear-gradient(0deg, rgba(128,128,128,0.95) 3%, rgba(128,128,128,0.99) 50%, rgba(107,107,107,0.99) 52%, rgba(107,107,107,1) 79%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B6B6B', endColorstr='#808080',GradientType=0 ); /* ie6-9 */ 	margin: 0;
	color: white;
	padding: 0;
	border-radius: 4px;
}
header nav ul li{
		padding: .5em;
		flex: 1 1 0;
		text-align: center;
		border-right: 1px solid #3f3838;
}
header nav ul li:not(:last-of-type):hover{
	background-color: #535353;
}
header nav ul li:first-of-type{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
header nav ul li:last-of-type{
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
header .images{
	display: flex;
	margin: 0 auto;
	width: 69%;
	flex-direction: column;
}
header .images img{
	margin: .4em 2em;
}
header .images img:first-of-type{
	background-position: 1em 0;
}
header input{
	border: none;
	outline: none;
	border-radius: 1em;
	background-color: #605f5db3;
	color: white;
	padding: 0 1em;
}
.third-line{
	background: url(9.png);
	margin-top: 1em;
	height: 2em;
	cursor: pointer;
}
.third-line:hover{
	background: url(9.png) 0 2em;
}

section{
	margin: 0;
	padding: 0;
	width: 100%;
}
section ul{
	list-style-type: none;
	display: flex;
	padding: 0;
	margin-top: 3px;
}
section ul li{
	cursor: pointer;
	margin: 0 .1em;
}
section ul img{
	width: 100%;
}
footer .bottom-nav{
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
}
footer .bottom-nav ul{
	list-style-type: none;
	display: flex;
}
footer a{
	font-size: .9em;
	color: #05a5a5;
	text-decoration: none;
}
footer a:hover{
	color: #0b7272;
	text-decoration: underline;
}
footer p{
	font-size: .9em;
}
footer ul li{
	border-right: 1px solid #b7b1b1;
	padding:0em .5em;
}
footer .copyrights{
	padding: 0 7.6em;
	display: flex;
}
 footer .copyrights ul{
 	list-style-type: none;
 	display: flex;
 	margin: 0;
 	padding: 0;
 }
 footer .copyrights ul li:last-of-type, footer .bottom-nav ul li:last-of-type{
 	border-right: none;
 }